[MASTER]
max-line-length=79
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-few-public-methods,
    no-self-use,
    bad-python3-import,
    import-star-module-level,
    import-error,
    unused-import,
    import-outside-toplevel,
    invalid-name,
    R0801,
    fixme,